.app-header {
	height: 600px;
	font-size: 72px;
	background: #2f2e41;
	padding: 0 100px;
	gap: 100px;
}

.app-header .title {
	display: flex;
	flex-direction: column;
	color: #ffffff;
}

.app-description {
	font-size: 56px;
	padding: 50px 0;
	margin: 0 50px;
	border-bottom: 2px solid #d0cde1;
	color: #3f3d56;
}
