.search-result {
	gap: 50px;
	font-size: 36px;
	color: #9f8e63;
}

.search-result h4 {
	gap: 20px;
	font-weight: 400;
}

.search-result h4 svg {
	fill: #0768fa;
}

.search-result .avatar {
	width: var(--avatar-size, 100px);
	height: var(--avatar-size, 100px);
	fill: #7c639f;
}

.search-result .avatar.avatar-img {
	border-radius: 50%;
}

@media (max-width: 600px) {
	.search-result {
		gap: 5px;
		font-size: 12px;
	}

	.search-result .avatar {
		--avatar-size: 20px;
	}

	.search-result h4 {
		gap: 5px;
	}

	.search-result h4 svg {
		height: 6px;
		width: 6px;
	}
}
